<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Section links - Hidden on mobile -->
      <div class="col-md-4 d-none d-md-block">
        <h5><%= t('footer.quick_links.title') %></h5>
        <ul class="list-unstyled">
          <li><%= link_to t('footer.quick_links.home'), root_path %></li>
          <li><%= link_to t('footer.quick_links.booking_request'), new_booking_path %></li>
          <li><%= link_to t('footer.quick_links.faq'), about_path %></li>
          <li><%= link_to t('footer.quick_links.contact'), contact_path %></li>
        </ul>
      </div>

      <!-- Section contact -->
      <div class="col-md-4">
        <h5><%= t('footer.contact_us.title') %></h5>
        <ul class="list-unstyled">
          <li><a href="mailto:info@tomodomo.ch">info@campus-gerance.ch</a></li>
          <li><a href="tel:+41269138920">+41 26 913 89 20</a></li>
          <li><a href="tel:+41772691553">+41 77 269 15 53</a></li>
          <li><a href="#">Rue de Battentin 1, 1630 Bulle</a></li>
        </ul>
      </div>
    </div>

    <!-- Language switcher - cacher sur tél -->
    <div class="language-switcher d-flex align-items-center justify-content-center d-none d-md-flex">
      <span class="me-2"><i class="fas fa-globe"></i></span>
      <%= link_to "FR", url_for(locale: :fr), class: "btn btn-sm btn-language" %>
      <%= link_to "EN", url_for(locale: :en), class: "btn btn-sm btn-language" %>
      <%= link_to "DE", url_for(locale: :de), class: "btn btn-sm btn-language" %>
      <%= link_to "PT", url_for(locale: :pt), class: "btn btn-sm btn-language" %>
      <%= link_to "ES", url_for(locale: :es), class: "btn btn-sm btn-language" %>
    </div>

    <!-- Copyright -->
    <div class="row mt-4">
      <div class="col text-center">
        <p><%= t('footer.copyright') %></p>
      </div>
    </div>
  </div>
</footer>
