<h1>Nouvelle réservation</h1>
<p>Vous avez reçu une nouvelle réservation :</p>
<p><strong>Nom :</strong> <%= @booking.first_name %> <%= @booking.last_name %></p>
<p><strong>Email :</strong> <%= @booking.email %></p>
<p><strong>Téléphone :</strong> <%= @booking.phone %></p>
<p><strong>Adresse :</strong> <%= @booking.address %></p>
<p><strong>Chambre :</strong> <%= @booking.room_type %></p>
<p><strong>Date d'arrivée :</strong> <%= @booking.check_in %></p>
<p><strong>Durée du séjour :</strong> <%= @booking.duration %></p>
<p><strong>Message :</strong> <%= @booking.message %></p>
