<!-- <div class="container-fluid services-section d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h2 class="concept-title"><%= t('concept.services.title') %></h2>
    <div class="row text-center">
      <% ["flexible", "cohabitation", "services", "common_areas", "peaceful"].each do |card| %>
        <div class="col-md-4">
          <div class="service-card p-4">
            <h4><%= t("concept.cards.#{card}.title") %></h4>
            <p><%= t("concept.cards.#{card}.description") %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div> -->
<!-- <div class="container-fluid services-section d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h2 class="concept-title"><%= t('concept.services.title') %></h2>
    <div class="row g-4">
      <% ["flexible", "cohabitation", "services", "common_areas", "peaceful"].each do |card| %>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center">
          <div class="service-card">

            <img src="<%= @concept_images[card] %>" alt="<%= t("concept.cards.#{card}.title") %>" class="card-img">

            <h4 class="card-title"><%= t("concept.cards.#{card}.title") %></h4>

            <p class="card-description"><%= t("concept.cards.#{card}.description") %></p>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div> -->

<div class="concept-hero-section d-flex align-items-center justify-content-center flex-column">
  <h1 class="concept-hero-title"><%= t('concept.services.title') %></h1>
  <h2 class="concept-hero-dynamic-text"></h2>
</div>

<div class="container-fluid concept-services-section d-flex align-items-center justify-content-center">
  <div class="text-center">
    <div class="row g-4">
      <% ["flexible", "cohabitation", "services", "common_areas", "peaceful"].each do |card| %>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center">
          <div class="concept-service-card concept-hidden">
            <img src="<%= @concept_images[card] %>" alt="<%= t("concept.cards.#{card}.title") %>" class="concept-card-img">
            <h4 class="concept-card-title"><%= t("concept.cards.#{card}.title") %></h4>
            <p class="concept-card-description"><%= t("concept.cards.#{card}.description") %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
