<!DOCTYPE html>
<html>
  <head>
      <title>Popliving</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

      <script>
        window.googleMapsApiKey = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
      </script>

      <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>


      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <% flash.each do |key, message| %>
      <div class="alert <%= "alert-#{key}" %>">
        <%= message %>
      </div>
    <% end %>

    <%= render 'shared/navbar' %>
    <main class="flex-grow-1">
      <%= yield %> <!-- Contenu principal -->
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
